---
jumpserver_root_dir: "/data/data_jumpserver"

jumpserver_dotenv_dir: "{{ jumpserver_root_dir }}/compose_project"

jumpserver_core_log_dir: "{{ jumpserver_root_dir }}/jumpserver_core_log"
jumpserver_core_data_dir: "{{ jumpserver_root_dir }}/jumpserver_core_data"

jumpserver_core_db_password: "{{ lookup('env', 'JUMPSERVER_CORE_DB_PASSWORD') }}"
jumpserver_core_postgres_data_dir: "{{ jumpserver_root_dir }}/jumpserver_core_postgres_data"
jumpserver_core_postgres_log_dir: "{{ jumpserver_root_dir }}/jumpserver_core_postgres_log"
jumpserver_core_redis_data_dir: "{{ jumpserver_root_dir }}/jumpserver_core_redis_data"

jumpserver_coco_log_dir: "{{ jumpserver_root_dir }}/jumpserver_coco_log"
jumpserver_coco_key_dir: "{{ jumpserver_root_dir }}/jumpserver_coco_key"
jumpserver_coco_session_dir: "{{ jumpserver_root_dir }}/jumpserver_coco_session"

jumpserver_frontend_port: 8080
jumpserver_coco_sshd_port: 2222

jumpserver_core_secret_key: "OwiwvYOmXjsHLa#74I*uBVWWD28o16GlPrb3mYdn$8Kd8wm4"
jumpserver_core_bootstrap_token: "48Qjy$NtipN1@L97IT@qU&rJDuTgVbyW3Mg&7XySnbJ0cN*J"
jumpserver_coco_name: "localhost"
jumpserver_coco_secret_key: "Lrae2Cwc@s*KgLN!q6b0MuZ436C3KZ$z7cN0yNfjrt#wUECe"
